/*General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16px san-serif;
    color: #555;
}

a {
    text-decoration: none;
    opacity: 0.75;
    color: #130256;
}

a:hover {
    opacity: 1;
}

ul, nav{
    list-style: none;
}

a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #130256;
    opacity: 1;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr {
    width: 350px;
    height: 3px;
    background-color: #130256;
    border: 0;
    margin-bottom: 50px;
}

section h3.title {
    text-transform: capitalize;
    font: bold 32px "Open Sans", san-serif;
    margin-bottom: 30px;
    text-align: center;
}

section p {
    font: bold 32px "Open Sans", san-serif;
    max-width: 1100px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px
    text-align: center;
}

section:not(.main-background):nth-child(even) {
    background: #f5f5f5;
}

/*Header Styles*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px 5px;
    animation: 0.5s fadein 0.5s ease-in forwards;
    opacity: 0;
    color: #130256;
    background-color: grey;
    z-index: 1;
}

@keyframes fadein {
    100% {
        opacity: 0.75;
    }
}

header h2 {
    font-family: "Quicksand", san-serif;
}

header nav {
    display: flex;
    margin-right: -15px;
}

header nav li {
    font-family: "Quicksand", san-serif;
    margin: 15px 15px;
}


/*Main Background Styles*/
.main-background {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #130256;
}


.main-background .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    opacity: 0.5;
}

.main-background h1 {
    font-family: "Quicksand", san-serif;
    font-size: 75px;
    margin-bottom: 15px;
}

.main-background h3 {
    font-family: "Quicksand", san-serif;
    font-size: 30px;
    margin-bottom: 40px;
}

.main-background a.btn {
    padding: 20px 46px;
    font-family: "Quicksand", san-serif;
    color: #fff;
}

.main-content-area {
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade 1s forwards ease-in;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}

/*Links Section*/

.links .grid li {
    padding: 50px;
    flex-basis: 33.3%;
    text-align: center;
}

.links .grid li i {
    color: #130256;
}

.links .grid li h4 {
    font-size: 30px;
    font-family: "Quicksand", san-serif;
    margin: 25px 0;
}

/*Contact Section*/

.contact .grid li {
    padding: 25px;
    flex-basis: 50%;
    text-align: center;
    float: left;
}

.contact .grid li i {
    color: #130256;
}

.contact .grid li h4 {
    font-size: 30px;
    font-family: "Quicksand", san-serif;
    margin: 25px 0;
}

/*Footer Section*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #130256;
    font-family: "Quicksand", san-serif;
    color: #fff;
    padding: 20px 0;
}